body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(105, 126, 105);
}

nav {
  background-color: rgb(50, 21, 21);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
li a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  font-size: 1.3em;
}
main {
  width: 80%;
  margin: 0 auto;
}
h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.puppyImg {
  width:350px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid rgb(50, 21, 21);
  justify-content: center;
  display: flex;
  margin: 30px 10px 10px 40px;
}